# MySQL
MYSQL_HOST=tu-servidor-mysql
MYSQL_PORT=3306
MYSQL_USER=tu-usuario
MYSQL_PASSWORD=tu-password
MYSQL_DATABASE=etiquetas

# Odoo
ODOO_URL=https://tu-empresa.odoo.com
ODOO_DB=tu-base-de-datos
ODOO_USERNAME=tu-usuario@email.com
ODOO_PASSWORD=tu-password-de-api
ODOO_PORT=443
