# -*- coding: utf-8 -*-

# Configuración de conexión a Odoo
ODOO_CONFIG = {
    "url": "https://tu-instancia.odoo.com",
    "db": "nombre-base-de-datos",
    "username": "usuario@empresa.com",
    "password": "tu-contraseña",
    "port": 443
} 